@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    min-height: 100vh;
}

.glass {
    /* From https://css.glass */
    background: rgba(172, 171, 171, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    z-index: 10;
    padding: 10px 10px;
}